<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- 使用类的无参构造函数创建 -->
	<bean id="user1" class="com.zhongjp.springTest.User" scope="singleton" lazy-init="true" primary="true"/>

	<!-- 使用静态工厂进行创建 -->
	<bean id="user2" class="com.zhongjp.springTest.StaticUserFactory" factory-method="getUser" scope="prototype"/>

	<!-- 使用实例工厂进行创建 -->
	<bean id="userFactory" class="com.zhongjp.springTest.UserFactory"/>
	<bean id="user3" class="com.zhongjp.springTest.User" factory-bean="userFactory" factory-method="getUser" scope="singleton"/>

	<bean id="userFactoryBean" class="com.zhongjp.springTest.UserFactoryBean" scope="singleton"/>

</beans>